::-webkit-scrollbar-track {
  background: #f8f8f8; 
  border-radius: 5px; 
}

::-webkit-scrollbar-thumb {
  background: rgb(189, 189, 189); 
  border-radius: 5px; 
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(189, 189, 189); 
}

/* For Firefox */
* {
  scrollbar-width:initial; 
  scrollbar-color: rgb(189, 189, 189) #f8f8f8; 
}