* {
    box-sizing: border-box; /* Include padding and borders in width/height calculations */
}

.about-us-page-container {
    position: relative;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ensure it fills the entire viewport height */
    margin: 0;
    color: black;
    width: 100vw; /* Ensure it spans the full width of the viewport */
    padding: 0; /* Ensure no padding affects width */
    overflow-x: hidden; /* Prevent child elements from causing horizontal overflow */
    background-color: white;
}

.about-us-page-content {
    margin: 0 auto;
    color: black;
    width: 1100px; /* Ensure it spans the full width of the viewport */
    padding: 0; /* Ensure no padding affects width */
    overflow-x: hidden; /* Prevent child elements from causing horizontal overflow */
    background-color: white;
}

.who-header {
    display: flex;
    text-align: center;
    justify-content: center;
    background-image: url('/images/sbu-prism-background.jpg'); /* Replace with the actual path to your image */
    background-size: cover;
    background-position: center;
    width: 100%; /* Adjust width as needed */
    margin: 30px auto 50px auto;
    color: white;
    padding: 25px 10px;
    font-size: 1.5rem;
    font-weight: bold;
}

.who-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    margin: 20px 0;
}

.who-left, .who-right {
    width: 48%; /* Adjust width as needed */
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.who-left .malik {
    width: 100%; /* Adjust width as needed */
    height: auto;
}

.who-left p, .who-right p {
    font-size: 1.05rem;
    line-height: 1.5;
    text-align: justify;
    margin: 0;
    color: grey;
}

.who-left h2, .who-right h2 {
    font-size: 1.9rem;
    font-weight: bold;
    margin: 0;
}

.who-left h3{
    font-size: 1.4rem;
    font-weight: bold;
    margin: 0;
    color: rgb(150, 0, 0);
}

.who-right h3{
    font-size: 1.4rem;
    font-weight: bold;
    margin: 0;
    color: rgb(150, 0, 0);
}

.underline {
    border-radius: 3px;
    height: 4px;
    width: 15%; /* Adjust width as needed */
    object-fit: cover; /* Crop the image to fit the height */
    transform: translateX(0px); /* Move the image to the left */
    margin: 5px 0 5px 0;
}

section{
    height: 350px;
}