* {
    box-sizing: border-box; /* Include padding and borders in width/height calculations */
}

.admin-page-container {
    position: relative;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ensure it fills the entire viewport height */
    margin: 0;
    color: black;
    width: 100vw; /* Ensure it spans the full width of the viewport */
    padding: 0; /* Ensure no padding affects width */
    overflow-x: hidden; /* Prevent child elements from causing horizontal overflow */
    background-color: white;
}

/* parking page customization */

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.popup input,
.popup textarea {
    display: block;
    margin: 10px 0;
    width: 100%;
}

.popup button {
    margin: 5px;
}